version 5.169.0

source https://www.nuget.org/api/v2
storage:none

nuget Fable.Core
nuget Fable.HtmlConverter
nuget Fable.Import.Node
nuget Fable.Import.Browser
nuget Fable.Promise

git https://github.com/fsharp/FsAutoComplete.git master build:"build.cmd LocalRelease", OS: windows
git https://github.com/fsharp-editing/Forge.git master build:"build.cmd Build", OS: windows

git https://github.com/fsharp/FsAutoComplete.git master build:"build.sh LocalRelease", OS: mono
git https://github.com/fsharp-editing/Forge.git master build:"build.sh Build", OS: mono

git https://github.com/ionide/ionide-fsgrammar.git

github MangelMaxime/ionide-vscode-helpers:feature/fable_2_1 src/Fable.Import.VSCode.fs
github MangelMaxime/ionide-vscode-helpers:feature/fable_2_1 src/Helpers.fs
github MangelMaxime/ionide-vscode-helpers:feature/fable_2_1 src/Fable.Import.Axios.fs
github MangelMaxime/ionide-vscode-helpers:feature/fable_2_1 src/Fable.Import.ws.fs

group build
    source https://www.nuget.org/api/v2

    github fsharp/FAKE modules/Octokit/Octokit.fsx
    nuget Fake
